

<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <h1 class="navbar-brand">Tiendas WebApp</h1>
    <div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shops">Tiendas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contacto</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<main>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
